html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Hammersmith One";
}

#hello, #mobileNav {
  display: none;
}

/* HEADERS */
h1 {
  color: #e0e0e0;
  font-size: 5.5vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
}

h2 {
  color: #e0e0e0;
  font-size: 3vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  margin: 15vh;
  color: #e0e0e0;
  font-size: 5.5vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
}

h4 {
  margin-top: 30px;
  color: #e0e0e0;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
}

h5 {
  color: #bbbbbb;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
}

h6 {
  display: inline-block;
  margin-left: 28px;
  margin-top: 8px;
  font-size: 18px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.7s ease;
}

h6:hover {
  color: #567172;
}

#home {
  width: 100vw;
  height: 100vh;
  background-image: url("./background.png");
  background-size: cover;
}

#emily {
  width: 150px;
  border-radius: 75px;
  margin-top: 14vh;
  margin-bottom: 20vh;
  border: solid 4px #333;
  box-shadow: 0px 4px 4px #4E7072;
}

#arrow {
  position: absolute;
  left: 49%;
  bottom: 40px;
  opacity: 30%;
  width: 40px;
  transition: all 0.7s ease;
}

#arrow:hover {
  cursor: pointer;
  opacity: 90%;
  animation: bounce 0.3s;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  height: 40px;
  z-index: 999;
}
  
#navbar a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  margin-right: 28px;
  text-decoration: none;
  padding-top: 4px;
  }
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #projects {
  padding-top: 30px;
}
  
#projects, #skills, #about, #contact {
  min-height: 100vh;
}

#projects, #about {
  background-color: #4E7072;
}

#skills, #contact {
  background: #455859;
}

#section {
  background: #405C5E;
  height: 210px;
  border-radius: 4px;
  margin-top: 5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 800px;
}

#projectsHeader {
  margin-bottom: 40px;
}

#imgPort {
  width: 200px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#left {
  text-align: right;
  padding-right: 5vw;
}

#right {
  padding-right: 15vw;
}

button {
  border: none;
  background-color: rgb(50, 50, 59);
  color: #e0e0e0;
  margin-left: 20px;
  margin-right: 20px;
  width: 110px;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
  transform: translateY(2px);
  background-color: #e0e0e0;
  color: #333;
}

#currentTitle {
  font-size: 1.7vw;
}

#current {
  width: 200px;
}

#descriptText, #languageText, #skillsText, #aboutText {
  text-align: center;
  font-family: "Roboto";
  color: #e0e0e0;
  font-size: 11px;;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}

#descriptText {
  width: 300px;
}

#langageText {
  font-weight: bold;
}

#skillsHeader, #aboutHeader {
  margin-bottom: 5vh;
  margin-top: 12vh;
}

#skillsHeader2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 3vh;
}

#skillsText, #aboutText {
  width: 60%;
}

#skillsText {
  font-size: 12px;
}

#aboutText {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#email {
  color: #e0e0e0;
  margin-top: 20px;
  font-size: 22px;
}

#icon {
  margin-top: 100px;
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

#icon:hover {
  cursor: pointer;
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% { transform: translate(0px, 2px); }
  50% { transform: translate(0px, -1px); }
}

/* TOOLTIP*/
[data-tooltip] {
  position: relative;
  z-index: 10;
  font-family: "Roboto";
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: -60px;
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 8px 8px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}

[data-tooltip]:hover:after {
  transition-delay: 0.5s; 
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}


/* RESPONSIVE CSS */
@media only screen and (max-width: 600px) {
  #left {
    display: none;
  }

  #arrow {
    left: 45%;
  }

  #hello {
    display: block;
    text-align: center;
  }

  #helloHeader {
    font-size: 44px;
    padding-top: 24vh;
  }

  #emily {
    width: 170px;
    height: 170px;
    border-radius: 85px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  #navbar {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
 
  h2 {
    font-size: 22px;
  }


  #section {
    min-width: 0px;
  }

  #projectsHeader {
    font-size: 34px;
    margin-top: 30px;
  }

  #skillsHeader, #aboutHeader, #contactHeader {
    font-size: 34px;
    margin-bottom: 15px;
  }

  #skillsText, #aboutText {
    width: 80%;
  }

  h4 {
    font-size: 22px;
    margin-top: 14px;
  }

  #currentTitle {
    font-size: 18px;
  }

  #right {
    width: 100%;
    padding-left: 50px;
    margin:0;
    margin-top: 5px;
  }

  button {
    width: 100px;
    margin: 6px;
    height: 35px;
    font-size: 10px;
    margin-top: 0;
  }

  #contactHeader {
    margin-bottom: 80px;
  }

  h5 {
    font-size: 15px;
  }

  #email {
    font-size: 16px;
    margin-top: 40px;
  }


}

